<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/Shared/_Layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Title </title>
</head>
<body>

<div class="" layout:fragment="content">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> to home page.</p>
    </div>
</div>

</body>
</html>