<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Shared/_Layout}"
>
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="box box-primary">
        <div class="box-body">
            <form
                    class="form-horizontal"
                    th:object="${customer}"
                    th:action="@{/Customer/Save}"
                    th:method="post"
            >
                <!-- Hidden field for employeeId (if update case) -->
                <div th:if="${customer.customerID != null}">
                    <input type="hidden" th:field="*{customerID}"/>
                </div>

                <!-- Full Name -->
                <div class="form-group">
                    <label class="control-label col-sm-2">Họ và tên:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{customerName}" autofocus/>
                    </div>
                </div>

                <!-- ContactName -->
                <div class="form-group">
                    <label class="control-label col-sm-2">Tên liên hệ</label>
                    <div class="col-sm-10">
                        <input
                                type="text"
                                class="form-control "
                                th:field="*{contactName}"
                        />
                    </div>
                </div>

                <!-- Province -->
                <div class="form-group">
                    <label class="control-label col-sm-2">Thành phố</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{Province}"/>
                    </div>
                </div>

                <!-- address -->
                <div class="form-group">
                    <label class="control-label col-sm-2">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{address}"/>
                    </div>
                </div>

                <!-- Phone -->
                <div class="form-group">
                    <label class="control-label col-sm-2">SĐT:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{phone}"/>
                    </div>
                </div>

                <!-- Emaili -->
                <div class="form-group">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{email}"/>
                    </div>
                </div>


                <!-- Submit Button -->
                <div class="form-group">
                    <div class="col-lg-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o"></i> Lưu dữ liệu
                        </button>
                        <a th:href="@{/Customer}" class="btn btn-default">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
