<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Shared/_Layout}">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}">Supplier Edit</title>
</head>
<body>

<div layout:fragment="content" class="box box-primary">
    <div class="box-body">
        <form th:action="@{/Supplier/Save}" th:method="post" th:object="${supplier}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{supplierID}" th:value="${supplier.getSupplierID()}"/>
            <input type="hidden" th:field="*{logo}" th:value="${logo}"/>
            <!-- Hidden field cho ảnh hiện tại -->

            <div class="form-group">
                <label>Tên nhà cung cấp</label>
                <input type="text" class="form-control" th:field="*{supplierName}"
                       th:value="${supplier.getSupplierName()}"
                       autofocus>
            </div>

            <div class="form-group">
                <label>Tên liên hệ</label>
                <input type="text" class="form-control" th:field="*{contactName}"
                       th:value="${supplier.getContactName()}">
            </div>

            <div class="form-group">
                <label>Tỉnh thành</label>
                <select class="form-control select2" th:field="*{province}">
                    <option value="">-- Chọn Tỉnh/Thành</option>
                    <option th:each="province : ${@provincesSerivce.getAllProvince()}"
                            th:text="${province.getProvinceName()}"
                            th:value="${province.getProvinceName()}"></option>

                </select>
            </div>

            <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" class="form-control" th:field="*{Address}" th:value="${supplier.getAddress()}">
            </div>

            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" class="form-control" th:field="*{Phone}" th:value="${supplier.getPhone()}">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" th:field="*{Email}" th:value="${supplier.Email}">
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Logo:</label>
                <div class="col-sm-10">
                    <input
                            type="file"
                            class="form-control"
                            name="uploadPhoto"
                            accept="image/*"
                            onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])"
                    />
                </div>
            </div>
            <!-- Logo preview -->
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10" th:if=${!#strings.isEmpty(supplier.getLogo())}>
                    <img
                            id="Photo"
                            th:src="@{/images/{photo}(photo=${supplier.logo})}"
                            class="img img-bordered"
                            style="width: 200px"
                            alt="NoPhoto"
                    />
                </div>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Lưu dữ liệu
                </button>
                <a href="@{/Supplier}" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>